<div class="container">

  <div class="text-center row">
    <h1>IdeaBox</h1>
  </div>

  <!-- Ideas -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="ideas">
    </div>
  </div>
</div>
